body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.slider-container {
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.slide {
    display: none;
    height: 100%;
    width: 100%;
}


.slide.active {
    display: block;
    animation: fadeAnimation 0.5s ease-in-out;
}


.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@keyframes fadeAnimation {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}